.pagination {
    font-weight: bold;
    color: red;
}



.wrapper_pagination {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px;
    justify-content: space-between;
}

